.debug {
  position: absolute;
  right: 0;
  top: 0;

  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding: 15px;

  font-size: 17px;
  line-height: 22px;

  box-shadow: 0px 0px 70px -2px #000;
  background-color: rgba(255, 255, 204, 0.5);


  overflow: auto;
}

.debug__title {
  margin: 10px 0;
  padding: 0;
}

.debug__list {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.debug__item {
  margin-left: 20px;
  padding: 5px;
}
