.chat-room {
  display: flex;
  flex-wrap: wrap;

  width: 800px;
  margin: 0 auto;
}

.chat-room__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-room__title {
  width: 100%;
}
